<link rel="stylesheet" type="" href="../public/style.css">


<body>
<h1>Growing in Containers</h1>
<div class="title-banner">
<div class="row-align-items-center">
    <div class="col"></div>
    <div class="col">
       <p>Recommend using any of these 5 plant varieties for containers. 
            Containers should be sized for the plant type and generally have 
            good drainage and aeration. Using fertilizers such as fish fertilizer,
            or plant specific fertilizers at onset of planting seeds or transplants is a good start.</p> 
            </div>
    <div class="col"></div>
</div>
</div>
<div class="container-fluid">
    <div class="row align-items-center ">  
        <% allPlants.forEach(v => { %>
        
                <div class="col-2 g-2">
                    <div class="card" style="width: 18rem;">
                        <img src="<%=v.img.url %>" height='200' width="220" class="card-img-top" alt="Image of Plant">
                        <div class="card-body">
                            <h5 class="card-title"> <%=v.name %> </h5>
                            <p class="card-text">See more about our top pick for container growing.</p>
                            <a href="/gardenPlanner/Plant/containers/<%=v.name %>" class="btn btn-primary"> See More: <%=v.name %> </a>
                            <div class = card-btns>
                                <a class="btn btn-warning" href="/<%=v.id %> "> Edit Group</a>
                            </div>
                        </div>
                    </div>
                </div>
           
        <% }) %>
            

    </div>
</div>        
</body>

