<h1> Greens and Lettuces in Containers: Guide</h1>

<h5>
    <ul> 
        <% for(let i = 4; i < allPlants.length; i++) { %>
             <li><%=allPlants[1].variety.recommendation %></li>
             <li><%=allPlants[1].supports %> </li>
            <li><%=allPlants[1].plant.soilTemperature %></li>
            <li><%=allPlants[1].light %></li>
            <li>
                <a href="/buy/<%=i%>"> <%=allPlants[1]._links.url %> </a>
            </li>
            <li>
                <img src=
                "<%=allPlants[1].img.url %>" height="200"/>
            </li>
        <% } %>
    </ul>
</h51