<h1> Tomatoes in Containers: Guide</h1>
<h3>
    <% tomatoData.find(v => { %>
        <div>
            <ul>
                <li><%=v.variety.recommendation %></li>
                <li><%=v.plant %></li>
                <li><%=v.light %></li>
                <li><%=v.supports %></li>
                <li>
                    <a href="/<%=v._links %>">Where to buy!</a>
                </li>
                </ul>
            </div>
    <% }) %> 
</h3>

