<h1>Potatoes in Containers: </h1>


  
    <ul> 
        <% for(let i = 4; i < allPlants.length; i++) { %>
           
             <li><h1><%=allPlants[2].variety.recommendation %></h1></li>

             <img src=
             "<%=allPlants[2].variety.img %>" height="200"/>

             <h2>Container and Supports: </h2>

             <li><%=allPlants[2].supports %> </li>

             <h2>Planting Features:</h2>
            <li><%=allPlants[2].variety.plant.soilTemperature %></li>
            <li><%=allPlants[2].variety.light %></li>

            <li>
                <a href="<%=allPlants[2].variety._links.url %>"> Shop Here </a>
            </li>
            <div>
                <buttonn class="btn btn-primary" > More Gardeing Tips</button>
            </div>
            
        <% } %>
    </ul>
    <div class="add-btn">
        <a class="btn btn-success" href="/gardenPlanner/variety/"> Edit Varieties</a>
    </div>