<h1>Potatoes in Containers: Guide</h1>

<h5>
    <ul> 
        <% for(let i = 4; i < allPlants.length; i++) { %>
            <h2>Plant Recommendation:</h2>
             <li><%=allPlants[2].variety.recommendation %></li>
             <h3>Grow in:</h3>
             <li><%=allPlants[2].supports %> </li>
            <li><%=allPlants[2].plant.soilTemperature %></li>
            <li><%=allPlants[2].light %></li>
            <li>
                <a href="/buy/<%=i%>"> <%=allPlants[2]._links.url %> </a>
            </li>
            <li>
                <img src=
                "<%=allPlants[2].img.url %>" height="200"/>
            </li>
        <% } %>
    </ul>
</h5>