<html>
<body>

 
<h1> Tomatoes in Containers</h1>


    <ul> 
        <% for(let i = 4; i < allPlants.length; i++) { %>
            
             <li> <h2><%=allPlants[0].variety.recommendation %></h2></li>
         
                <img src=
                "<%=allPlants[0].variety.img %>" height="200"/>

                <h2>Container and Supports: </h2>
            
                <li><%=allPlants[0].supports %> </li>
                <h2>Planting Features:</h2>

                <li><%=allPlants[0].variety.plant.soilTemperature %></li>
                <li><%=allPlants[0].variety.light %></li>
                    <div>
                    <a class="btn btn-warning" href="<%=allPlants[0].variety._links.url %>"> Shop Here </a>
                    </div>
                    <div>
                        <buttonn class="btn btn-primary" > More Gardeing Tips</button>
                    </div>
                    
                    
                   
            <% } %>
    </ul>
    <div class="add-btn">
        <a class="btn btn-success" href="/gardenPlanner/variety/"> Edit Varieties</a>
    </div>
 
  

</body>
</html>